.head {
    width: 800px;
    height: 40px;
    line-height: 40px;
    background-color: grey;
    position: relative;
    margin: 0 auto;
    text-indent: 2em;
}

table {
    width: 800px;
    height: 30px;
    line-height: 30px;
    position: relative;
    margin: 10px auto;
}

ul {
    list-styel: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
    display: inline;
    margin-right: 8px;
}

a:hover {
    background-color: purple;
}

.box {
    /*border:1px dotted grey;*/
    width: 800px;
    height: 900px;
    position: relative;
    margin: 10px auto;
}

.box1 {
    border-right: 1px dotted grey;
    width: 500px;
    height: 900px;
    position: absolute;
    top: 0;
    left: 0;
}

.box2 {
    width: 300px;
    height: 900px;
    background-color: grey;
    position: absolute;
    right: 0;
    top: 0;
}

.box3 {
    border-right: 1px solid black;
    width: 100px;
    height: 40px;
    float: left;
}

.box4 {
    background-color: white;
    width: 270px;
    height: 80px;
    position: relative;
    margin: 40px auto;
}

.box5 {
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
    width: 460px;
    height: 80px;
    margin: 20px auto auto 0;
}

.bottom {
    width: 800px;
    height: 40px;
    line-height: 40px;
    background-color: grey;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
